@charset "utf-8";
/* CSS Document */
.header-div{
	background:#FFF;
	height:auto;
	width:100%;
	position:fixed;
	z-index:500;
}


.header-div .header-div-in {
	width:85%;
	height:60px;
	margin:auto;
	max-width:1200px;
}
.header-div  .header-div-in .logo-div{
	width:60px;
	height:auto;
	float:left;
	cursor:pointer;
}
.header-div  .header-div-in .logo-div img{
    width: 100%;
}


.header-div .header-div-in .nav-div{
	float:right;
}
.header-div .header-div-in .nav-div ul{
	margin:0px;
	padding:0px;
}
.header-div .header-div-in .nav-div ul li{
	list-style:none;
	padding:0px 30px 0px 30px;
	height:60px;
	line-height:60px;
	float:left;
	color:#444;
	font-size:13px;
	font-family:Tahoma, Geneva, sans-serif;
	-moz-transition:all 0.2s ease-in 02s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
	cursor:pointer;
}

.header-div .header-div-in .nav-div ul li:hover, .header-div .header-div-in .nav-div ul .active-li{
	color:#2C85B2;
}


.header-div .header-div-in .btn{
	min-width:40px;
	padding:0px 10px;
	height:40px;
	border:none;
	/*background:rgba(255,255,255,.3);*/
	background:#2C85B2;
	color:#FFF;
    font-family: body_text;
	float:right;
	margin-top:10px;
	margin-left:5px;
	border-radius:3px;
	font-size:25px;
	-moz-transition:all 0.2s ease-in 02s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
	cursor:pointer;
	display:none;
}
.header-div .header-div-in .btn:hover{
	opacity:.7;
}
.header-div .header-div-in .social{
	background:#444;
	margin-left:0px;
	border-radius:0px;
	font-size:20px;
}
.header-div .header-div-in .social-middle{
	border-left:rgba(255,255,255,.5) 1px solid;
	border-right:rgba(255,255,255,.5) 1px solid;
}
.header-div .header-div-in .social-right{
	border-radius:0px 4px 4px 0px;
}
.header-div .header-div-in .social-left{
	border-radius:4px 0px 0px 4px;
}
@media all and (max-width:900px) {
.header-div .header-div-in{
	width:96%;
}
}
@media all and (max-width:760px) {
.header-div .header-div-in .nav-div{
	display:none;
}
.header-div .header-div-in .btn{
	display:block;
}
}





#expand .sub-nav-div{
	position:absolute;
	width:200px;
	min-height:100px;
	background:#FFF;
	display:none;
	text-align:center;
	color:#666;
	border-radius:5px;
	box-shadow:0px 2px 12px 1px rgba(0,0,0,.1);
	-moz-transition:all 0.2s ease-in 02s;
transition:all 0.2s ease-in 0.2s;
-webkit-transition:all 0.2s ease-in 0.2s;
-ms-transition:all 0.2s ease-in 0.2s;
-o-transition:all 0.2s ease-in 0.2s;
margin-top:-2px;
}
#expand:hover:before{
	opacity:1;
}
#expand:hover .sub-nav-div{
	display:block;
}



#expand .sub-nav-div .li{
	font-size:13px;
	height:40px;
	line-height:40px;
	padding:0px 20px;
	color:#666;
	text-align:left;
	-moz-transition:all 0.2s ease-in 02s;
transition:all 0.2s ease-in 0.2s;
-webkit-transition:all 0.2s ease-in 0.2s;
-ms-transition:all 0.2s ease-in 0.2s;
-o-transition:all 0.2s ease-in 0.2s;
}
#expand .sub-nav-div #li{
	color:#1e1e1e;
	border-bottom:#666 1px solid;
	height:50px;
	line-height:50px;
}
#expand .sub-nav-div .li:hover{
	background:rgba(204,204,204,.3);
	color:#1e1e1e;
}
#expand .sub-nav-div #li:hover{
	background:none;
}





















.sidenavdiv{
	width:100%;
	height:100%;
	position:fixed;
	background:rgba(0,0,0,.5);
	z-index:600;
	margin-left:-100%;
}
.sidenavdiv-in{
	left:252px;
	width:100%;
	height:100%;
	position: absolute;
	margin-left:-100%;
}
.sidenavdiv-menu{
	width:250px;
	height:100%;
	overflow:auto;
	position:fixed;
	background: rgba(255,255,255,.9);
	padding-top:20px;
	z-index:500;
}

.sidenavdiv-menu .div{
	border-bottom:#CCC 1px solid;
	cursor:pointer;
	-moz-transition:all 0.2s ease-in 02s;
transition:all 0.2s ease-in 0.2s;
-webkit-transition:all 0.2s ease-in 0.2s;
-ms-transition:all 0.2s ease-in 0.2s;
-o-transition:all 0.2s ease-in 0.2s;
}
.sidenavdiv-menu .div:hover{
	background:#F9F9FF;
}

.sidenavdiv-menu .div{
	border-bottom:#CCC 1px solid;
	cursor:pointer;
	-moz-transition:all 0.2s ease-in 02s;
transition:all 0.2s ease-in 0.2s;
-webkit-transition:all 0.2s ease-in 0.2s;
-ms-transition:all 0.2s ease-in 0.2s;
-o-transition:all 0.2s ease-in 0.2s;
}
.sidenavdiv-menu .div li{
	padding:10px 0px 10px 15px;
	font-size:16px;
	color:#666;
	height:30px;
	line-height:30px;
	list-style:none;
}
.sidenavdiv-menu .div #active-li{
	background:#F9F9FF;
}
.sidenavdiv-menu .div li i{
	color:#2C85B2;
	font-size:16px;
	width:40px;
}

.sidenavdiv-menu .puple li{
		background:#2C85B2;
		color:#FFF;
}
.sidenavdiv-menu .puple li i{
		background:#2C85B2;
		color:#FFF;
}
.sidenavdiv-menu .orange li{
		background:#F8AE1B;
		color:#FFF;
}
.sidenavdiv-menu .orange li i{
		background:#F8AE1B;
		color:#FFF;
}


.sidenavdiv-menu .div li #side-expand{
	float:right;
	color:#2C85B2;
	width:20px;
	height:23px;
	padding-top:7px;
}

.sidenavdiv-menu .div .sub-li{
	width:90%;
	margin-left:10%;
	margin-top:10px;
	display:none;
}
.sidenavdiv-menu .div .sub-li li{
	cursor:pointer;
	font-size:13px;
	-moz-transition:all 0.2s ease-in 02s;
transition:all 0.2s ease-in 0.2s;
-webkit-transition:all 0.2s ease-in 0.2s;
-ms-transition:all 0.2s ease-in 0.2s;
-o-transition:all 0.2s ease-in 0.2s;
}
.sidenavdiv-menu .div .sub-li li:hover{
	background: rgba(204,204,204,.2);
}
.sidenavdiv-menu .div .sub-li #active-li{
	background: rgba(204,204,204,.2);
}




